<% provide(:title, '休日登録') %>
<h1>休日登録</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@holiday, url: holidays_signup_path) do |f| %>
      <%= render 'shared/error_messages', {input: @holiday} %>

      <%= f.label :name, "休日名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :date, "日付" %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>

    <%= render 'shared/load_csv', {url: import_holidays_path, explain: "csvから読み込む(ヘッダーに「name」と「date」を設定してください。)"} %>

  </div>
</div>