<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%= month_calendar events: @works do |date, works| %>
  <%= date.day %>
    <% if works.empty? %>
      <div>
        <% if Time.now > date %>
          <span class="unregistered">未登録</span>
        <% else %>
          <span class="normal">未登録</span>
        <% end %>
        <% if !current_user.admin? && Time.now > date %>
          <%= " / "%><%= link_to "登録する", "/days/#{@user.id}/#{date}/new" %>
        <% end %>
      </div>
    <% else %>
      <div>
        <span class="registered">登録済</span><%= " / " %>
        <% unless current_user.admin? %>
          <%= link_to "編集する", "/days/#{@user.id}/#{date}" %>
        <% else %>
          <%= link_to "確認する", "/days/#{@user.id}/#{date}" %>
        <% end %>
      </div>
    <% end %>
<% end %>