<%= date.day %>
<% if works.empty? %>
  <div>
    <% if Time.zone.now.to_date >= date %>
      <span class="unregistered">未登録</span>
    <% else %>
      <span class="normal">未登録</span>
    <% end %>
    <% if !current_user.admin? && Time.zone.now.to_date >= date %>
      <%= " / "%><%= link_to "登録する", "/works/#{@user.id}/#{date}/new" %>
    <% end %>
  </div>
<% else %>
  <div>
    <span class="registered">登録済</span><%= " / " %>
      <% unless current_user.admin? %>
        <%= link_to "編集する", "/works/#{@user.id}/#{date}/new" %>
      <% else %>
        <%= link_to "確認する", "/works/#{@user.id}/#{date}" %>
      <% end %>
  </div>
<% end %>