<% provide(:title, "ユーザー設定") %>
<h1>設定の変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: 'form-control', readonly: @is_name_read_only %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control', readonly: @is_email_read_only %>

      <% if current_user?(@user) %>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>

      <% if current_user.admin %>
        <%= f.label :password_reset, class: "checkbox inline" do %>
          <%= f.check_box :password_reset %>
          <span>パスワードを初期化する</span>
        <% end %>
      <% end %>

      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>