<li><%= link_to "ユーザー一覧", users_path %></li>
<li><%= link_to "ユーザー登録", signup_path %></li>
<li><%= link_to "プロジェクトコード一覧", projects_path %></li>
<li><%= link_to "プロジェクトコード登録", project_signup_path %></li>
<li><%= link_to "設定の変更", edit_user_path(current_user) %></li>