<ul class="dropdown-menu">
  <li><%= link_to "ユーザー一覧", users_path %></li>
  <li><%= link_to "ユーザー登録", signup_path %></li>
  <li><%= link_to "プロジェクトコード一覧", "#" %></li>
  <li><%= link_to "プロジェクトコード登録", "#" %></li>
  <li><%= link_to "パスワードの変更", edit_user_path(current_user) %></li>
  <li class="divider"></li>
  <li>
    <%= link_to "ログアウト", logout_path, method: :delete %>
  </li>
</ul>